@charset "UTF-8";

* {
   margin: 0px; 
   padding: 0px;
   box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 201, 176);
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}
header {
    background-color: rgb(62, 101, 102);
    color: whitesmoke;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    /*border: 1px dotted black; Usar só para servir como base*/
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.858);
}
header > nav {
    /*border: 1px dotted black; Usar só como base*/

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
header > nav > a {
    background-color: rgba(2, 29, 2, 0.542);
    color: whitesmoke;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
header > nav > a:hover {
    background-color: rgba(245, 245, 245, 0.622);
    color: rgba(2, 29, 2, 0.542);
    transition: background-color .5s;
}

main {
    background-color: rgba(178, 176, 176, 0.625);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.307);
}