@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html {
    background-color: rgba(169, 169, 169, 0.69);
}
header {
    background-color: rgba(107, 106, 106, 0.764);
}
header > h1 {
    padding: 10px;
    text-align: center;
}
i#burguer {
    background-color: rgba(46, 44, 44, 0.89);
   
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
} 
i#burguer:hover {
    background-color: rgba(82, 79, 79, 0.833);
    color: black;
}
menu {
    display: none;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(86, 85, 85, 0.89);
    color: whitesmoke;
    border-top: 2px solid grey;
}
menu > ul > li > a:hover {
    background-color: rgba(128, 128, 128, 0.362);
}
main {
    width: 90vw;
    background-color: rgba(245, 245, 245, 0.597);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
article > h2 {
    padding-bottom: 30px;
}
article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}